<template>
  <div class="party">
    <fieldset>
      <legend>Party {{partyNumber}}</legend>
    <form>
      <h2>Roles</h2>
      <div class="roles">
        <role-button
                ref="kind"
                :text="'Add K'"
                :value="5"
                :isActive="roleSelected === 'K'"
                @click="selectRole('K')"
        ></role-button>
        <role-button
                ref="notary"
                :text="'Add N'"
                :value="2"
                :isActive="roleSelected === 'N'"
                @click="selectRole('N')"
        ></role-button>
        <role-button
                ref="validator"
                :text="'Add V'"
                :value="1"
                :isActive="roleSelected === 'V'"
                @click="selectRole('V')"
        ></role-button>
      </div>
      <div class="form-group">
        <label for="identifier">Contract</label>
        <input type="text" name="identifier" id="identifier" v-model="identifier">
      </div>
    </form>
      <resume :party="partyNumber" :points="points"></resume>
    </fieldset>
  </div>
</template>

<script>

export default {
  name: 'Party',
  props: {
    partyNumber: Number
  },
  data() {
    return {
      identifier: null,
      roleSelected: null,
      roleSelectedValue: 0,
      roles: [
        {
          'key': 'K',
          'value': 5
        },
        {
          'key': 'N',
          'value': 2
        },
        {
          'key': 'V',
          'value': 1
        },
      ]
    }
  },
  computed: {
    points() {
      return this.$store.getters.getPointsByParty(this.partyNumber);
    }
  },
  methods: {
    selectRole(roleKey) {
      this.roleSelectedValue = this.getRoleByKey(roleKey).value;
      this.roleSelected = roleKey;

    },
    getRoleByKey(roleKey) {
      return this.roles.find(role => role.key === roleKey);
    },
    isValid() {
      return this.roleSelectedValue > 0 && this.identifier !== null
    },
    getPartyData() {
      return { 'identifier': this.identifier, 'role': this.roleSelected };
    }
  }
}
</script>

<style>
  .party {
    width: 300px;
  }
  .roles {
    display: flex;
  }
  fieldset {
    margin: auto;
    padding: 25px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .form-group {
    display: block;
    margin-top: 10px;
  }
  div.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  div.form-group input {
    display: block;
    margin-bottom: .5rem;
  }
</style>
