<template>
    <p>Party {{party}} has {{points}} points</p>
</template>

<script>
    export default {
        name: "Resume",
        props: {
            party: {
                type: Number,
            },
            points: {
                type: Number,
            },
        },
    }
</script>

<style scoped>

</style>
