<template>
    <div class="flat-button" @click="$emit('click')"  v-bind:class="{ active: isActive }">
        <a class="button flat-button--text" @click="$emit('click')"><span v-text="text"></span></a>
    </div>
</template>

<script>
    export default {
        name: 'role-button',
        props: {
            text: {
                type: String,
            },
            value: {
                type: Number,
            },
            isActive: {
                type: Boolean,
                default: false
            }
        },
    };
</script>
<style>
    .flat-button {
        cursor: pointer;
        box-sizing: border-box;
        line-height: 23px;
        width: auto;
        border: 1px solid #414F59;
        border-radius: 3px;
        display: inline-block;
        padding: 0 10px 0 10px;
        margin-right: 15px;
    }
    span {
        display: block;
        text-transform: capitalize;
        color: #414F59;
        opacity: 0.9;
        font-weight: 600;
        font-size: 12px;
    }
    .active {
        background-color: #1c7430;
    }
    .active span {
        color: white;
    }
</style>
