<template>
    <div class="start-button">
        <a class="button flat-button--text" @click="$emit('click')"><span v-text="text"></span></a>
    </div>
</template>

<script>
    export default {
        name: 'start-button',
        props: {
            text: {
                type: String,
            },
        },
    };
</script>
<style>
    .start-button {
        cursor: pointer;
        box-sizing: border-box;
        line-height: 40px;
        height: 40px;
        width: 100px;
        border: 1px solid #414F59;
        border-radius: 3px;
        display: inline-block;
        padding: 0 5px 0 5px;
        margin: 0 60px;
        text-align: center;
    }
    span {
        display: block;
        text-transform: capitalize;
        color: #414F59;
        opacity: 0.9;
        font-weight: 600;
        font-size: 12px;
    }
</style>
