<template>
    <div class="trials-list">
        <ul class="list-group">
            <li v-for="trial in trials" :key="trial.id">
                <span v-if="!trial.matched">Party {{trial.winner.party}} ({{trial.winner.points}}) has Won to Part {{trial.looser.party}} ({{trial.looser.points}})</span>
                <span v-else>Matched trial</span>
            </li>
        </ul>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        name: "TrialsHistorical",
        computed: {
            ...mapGetters({
               'trials': 'getTrials'
            }),
        }
    }
</script>

<style scoped>
    ul {
        margin-top: 50px;
        list-style-type: none;
    }
    li {
        padding: 7px 0;
    }
</style>
