<template>
  <div id="app">
    <div class="content">
      <h2 v-if="trialValidated !== null && !trialValidated" class="not-valid">You need to complete all the information in the both parts!</h2>
    </div>
    <div class="content">
      <party :partyNumber="1" ref="party-one"></party>
      <start-button :text="'Trial Time!'" @click="createTrial"></start-button>
      <party :partyNumber="2" ref="party-two"></party>
    </div>
    <div class="content">
      <trials-historical></trials-historical>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'app',
  data() {
    return {
      trialValidated: null,
    }
  },
  methods: {
    ...mapActions(['newTrial']),
    createTrial() {
      if (!this.validateParts()) {
        return;
      }

      const partOne = this.$refs['party-one'].getPartyData();
      const partTwo = this.$refs['party-two'].getPartyData();
      const trialData = { 'partyOne': partOne, 'partyTwo': partTwo };
      this.newTrial(trialData);
    },
    validateParts() {
      return this.trialValidated = this.$refs['party-one'].isValid() && this.$refs['party-two'].isValid();
    }
  }
}
</script>

<style>
  .content {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
  .not-valid {
    color: red;
  }
</style>
